<div class="main top-main">
  <div class="top-message">
    <h2>kazn bulid website in Ruby on Rails</h2>
    <p>welcome!</p>
    <img src="/KimoSmile-part03.png"><br>
    <img src="/pure.png"> <img src="/pure.png">
  </div>
</div>

