.confirm {
  display: flex;
  justify-content: center;
}

.fix-btn{
  width: 100px;
  height: 30px;
  // border-color: #031de2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.reg-btn{
  width: 100px;
  height: 30px;
  // border-color: #031de2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.email_con{
  width: 400px;
  height: 30px;
}