.actions{
    margin-top: 45px;

    
}

.sign-btn{
    width: 200px;
    height: 50px;
    font-size: 28px;
    border: 2px solid #031de2; 
    // border-color: #031de2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;


}

input[type="text"] {
    // width: 250px;
    height: 30px;
    font-size: 18px;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

input[type="email"] {

    font-size: 18px;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.email{
    width: 400px;
    height: 30px;
}

input[type="password"] {
    width: 250px;
    height: 30px;
    font-size: 18px;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}

.sex-field{
    margin-top: 25px;
}

// .sex{
//     width: 200px;
// }
