// Place all the styles related to the room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.room{

    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    height: 100vh;
    width: 100vw;

}

// 自分のメッセージの吹き出し
.says {
    float: left;
    position: relative;
    width: calc(100% - 56px);
    padding: 16px;
    background: #ffffff;
    border-radius: 15px;
    line-height: 1.5;
    word-break: break-all;
  }
  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #ffffff;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  
  // 自分以外のメッセージの吹き出し
  .other-user-says {
    float: right;
    position: relative;
    width: calc(100% - 56px);
    padding: 16px;
    background: #ffffff;
    border-radius: 15px;
    line-height: 1.5;
    word-break: break-all;
  }
  .other-user-says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    right: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #ffffff;
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
  }